<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{gms/layout/blank}">

<th:block layout:fragment="content"> 
  <!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="103" style="border-collapse:collapse;width:78pt;">

 <colgroup><col width="70" style="width:53pt;">
 <col width="33" style="width:25pt;">
 </colgroup><tbody><tr height="23" style="height:17.4pt;">
  <td height="23" colspan="2" width="103" style="color:#212529;font-size:8.0pt;font-weight:700;font-family:'Source Sans Pro', sans-serif;height:17.4pt;width:78pt;">이화산업가스</td>
 </tr>
 <tr height="71" style="height:53.4pt;">
  <td height="71" style="height:53.4pt;"><br></td>
  <td style="color:#212529;font-size:8.0pt;font-weight:700;font-family:'Source Sans Pro', sans-serif;text-align:left;"><span style="font-variant-ligatures:normal;font-variant-caps:normal;orphans:2;widows:2;-webkit-text-stroke-width:0px;background-color:rgba(0, 0, 0, 0.075);text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial;">HN1O22.8</span></td>
 </tr>
 <tr height="23" style="height:17.4pt;">
  <td height="23" style="color:#212529;font-size:8.0pt;font-weight:700;font-family:'Source Sans Pro', sans-serif;height:17.4pt;"><span style="font-variant-ligatures:normal;font-variant-caps:normal;orphans:2;widows:2;-webkit-text-stroke-width:0px;background-color:rgba(0, 0, 0, 0.075);text-decoration-thickness:initial;text-decoration-style:initial;text-decoration-color:initial;">HN1O22.8</span></td>
  <td><br></td>
 </tr>

</tbody></table><p><br></p>
</body>
</th:block>