<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{gms/layout/blank}">

<th:block layout:fragment="content"> 
  <!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="723" style="border-collapse:collapse;width:546pt;">

 <colgroup><col width="132" style="width:99pt;">
 <col width="70" span="6" style="width:53pt;">
 <col width="31" style="width:23pt;">
 <col width="70" span="2" style="width:53pt;">
 </colgroup>
 <tbody><tr height="23" style="height:17.4pt;">
  <td colspan="10" height="23" width="723" style="text-align:center;border-top:1pt solid #4472C4;border-right:1pt solid #0070C0;border-bottom:1pt solid #0070C0;border-left:1pt solid #0070C0;height:17.4pt;width:546pt;">2021년 06월 22일</td>
 </tr>
 <tr height="23" style="height:17.4pt;">
  <td colspan="2" height="23" style="text-align:center;border-top:1pt solid #0070C0;border-right:1pt solid #0070C0;border-bottom:1pt solid #0070C0;border-left:1pt solid #0070C0;height:17.4pt;">거래처명</td>
  <td colspan="8" style="text-align:center;border-top:1pt solid #0070C0;border-right:1pt solid #0070C0;border-bottom:1pt solid #0070C0;border-left:none;">　</td>
 </tr>

</tbody></table><p><br></p>
</body>
</th:block>