<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.admin.mapper.statistics.StatisticsCustomerMapper">
	<resultMap id="StatisticsCustomerMap" type="com.gms.web.admin.domain.statistics.StatisticsCustomerVO" >
		<result property="customerId"			column="Customer_ID"				/>
		<result property="statDt"				column="Stat_Dt"				/>
		<result property="orderCount"			column="Order_Count"			/>
		<result property="orderAmount"			column="Order_Amount"			/>
		<result property="incomeAmount"			column="Income_Amount"			/>
		<result property="receivableAmount"		column="Receivable_Amount"		/>
		<result property="createId"				column="CREATE_ID"				/>
		<result property="createDt"				column="CREATE_DT"				/>
	</resultMap>
	
	<sql id="StatisticsCustomerColumns">
		 Customer_ID         
		 , Stat_Dt  
		 , Order_Count    
		 , Order_Amount 	
		 , Income_Amount
		 , Receivable_Amount
		 , Create_ID        
		 , Create_Dt
	</sql>
	<!-- 
	<insert id="inserDailyStatisticsCustomer">
		INSERT INTO TB_Daily_Stat_Customer(
			<include refid="StatisticsCustomerColumns" />
		) 
		SELECT tp.Customer_ID,DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d'), IFNULL(Order_Count,0) , IFNULL(Order_Amount,0),'admin' ,now()
		FROM tb_customer tp left join
		( 
			SELECT a.customer_Id, count(Work_Seq) Order_Count, SUM(Product_Price)  Order_Amount
			FROM 	TB_Work_Bottle A
			WHERE  	Bottle_Work_Cd in ('0308','0309')
			AND 	DATE_FORMAT(A.Create_Dt,'%Y/%m/%d') = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
			GROUP BY A.customer_Id
		) Tm  on tm.customer_id = tp.customer_ID
	</insert>
	 
	<insert id="inserDailyStatisticsCustomer">
		INSERT INTO TB_Daily_Stat_Customer(
			<include refid="StatisticsCustomerColumns" />
		) 
		SELECT AA.customer_id,stat_dt,IFNULL(Order_Count,0),IFNULL(Order_Amount,0),IFNULL(Income_Amount,0),IFNULL(Receivable_Amount,0),'admin' ,now()
		FROM 
		(
			SELECT tp.Customer_ID,DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d') stat_dt, IFNULL(Order_Count,0) Order_Count, IFNULL(Order_Amount,0) Order_Amount
			FROM tb_customer tp left join
			( 
				SELECT a.customer_Id, count(Work_Seq) Order_Count, SUM(Product_Price)  Order_Amount
				FROM 	TB_Work_Bottle A
				WHERE  	Bottle_Work_Cd in ('0308','0309','0314','0316')
				AND 	DATE_FORMAT(A.Create_Dt,'%Y/%m/%d') = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
				GROUP BY A.customer_Id
		) Tm  on tm.customer_id = tp.customer_ID ) AA left join
		(
			SELECT B.Customer_id, SUM(Income_Amount) Income_Amount,SUM(Receivable_Amount) Receivable_Amount
			FROM tb_cash_flow B
			WHERE DATE_FORMAT(B.Create_Dt,'%Y/%m/%d') = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
			GROUP BY B.customer_Id) BB
		ON AA.Customer_id = BB.Customer_id
	</insert>
	-->
	<insert id="inserDailyStatisticsCustomer">
		INSERT INTO TB_Daily_Stat_Customer(
			<include refid="StatisticsCustomerColumns" />
		) 
		SELECT BB.Customer_id,DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d') Stat_Dt, IFNULL(Order_Count,0),IFNULL(Order_Amount,0),IFNULL(Income_Amount,0),IFNULL(Receivable_Amount,0),'admin' ,now()
		from 
		( 
			SELECT a.customer_Id, count(Work_Seq) Order_Count, SUM(Product_Price)  Order_Amount
			FROM 	TB_Work_Bottle A
			WHERE  	Bottle_Work_Cd in ('0308','0309','0314','0316')
			AND 	DATE_FORMAT(A.Create_Dt,'%Y/%m/%d') = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
			GROUP BY A.customer_Id
		) AA right join 
		( 		
			SELECT B.Customer_id, SUM(Income_Amount) Income_Amount,SUM(Receivable_Amount) Receivable_Amount
			FROM tb_cash_flow B
			WHERE DATE_FORMAT(B.Create_Dt,'%Y/%m/%d') = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
			GROUP BY B.customer_Id
		) BB on BB.Customer_id = AA.Customer_id
	</insert>
	
	<insert id="inserMonthlyStatisticsCustomer">
		INSERT INTO TB_Monthly_Stat_Customer(
			<include refid="StatisticsCustomerColumns" />
		)
		SELECT Customer_ID
			 , LEFT(Stat_Dt,7)
			 , SUM(Order_Count)   
			 , SUM(Order_Amount)  
			 , SUM(Income_Amount)   
			 , SUM(Receivable_Amount)  	 
			 , 'admin'
			 , NOW()
		FROM TB_Daily_Stat_customer
		WHERE LEFT(Stat_Dt,7)=  DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m')
		GROUP BY Customer_ID,LEFT(Stat_Dt,7)
	</insert>
	
	<update id="deleteDailyStatisticsCustomer" >		
		DELETE FROM  TB_Daily_Stat_Customer		
		WHERE Stat_Dt = DATE_FORMAT(date_sub(curdate(), interval 1 day),'%Y/%m/%d')
		AND Order_Count = 0
		AND Order_Amount = 0
		AND Income_Amount = 0
		AND Receivable_Amount = 0
	</update>
	
	<select id="selectDailylStatisticsCustomerList" resultType="com.gms.web.admin.domain.statistics.StatisticsCustomerVO" parameterType="java.util.Map">		
		SELECT
			<include refid="StatisticsCustomerColumns" />
		FROM
			TB_Daily_Stat_Customer
		WHERE
			Customer_Id = #{searchCustomerId}		
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchStatDt)">
		AND Stat_Dt between  #{searchStatDtFrom} AND  #{searchStatDtEnd} 
		</if>
		ORDER BY Create_Dt DESC 
	</select>
	
	<select id="selectMontlylStatisticsCustomerList" resultType="com.gms.web.admin.domain.statistics.StatisticsCustomerVO" parameterType="java.util.Map">		
		SELECT
			<include refid="StatisticsCustomerColumns" />
		FROM
			TB_Monthly_Stat_Customer
		WHERE
			Customer_Id = #{searchCustomerId}	
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchStatDt)">
		AND Stat_Dt between  #{searchStatDtFrom} AND  #{searchStatDtEnd} 
		</if>
		ORDER BY Create_Dt DESC 
	</select>
	
	<select id="selectStatCustomerBottleList" resultType="com.gms.web.admin.domain.statistics.StatisticsCustomerBottleVO" parameterType="com.gms.web.admin.domain.statistics.StatisticsCustomerBottleVO">		
		SELECT
			wb.Work_Report_Seq, wb.Create_Id, User_Nm Sales_Nm,wb.Customer_Id,Customer_Nm,wb.Product_ID,wb.Product_Price_Seq,Product_Nm, 
			case  when wb.Gas_ID &gt; 0 and instr(pp.Product_Capa,'Kg')  &lt;=0 then concat(pp.Product_Capa,'L') else pp.Product_Capa end Product_Capa,Work_Etc,DATE_FORMAT(wb.Create_Dt,'%Y/%m/%d') SALE_Dt,
			count(case when Bottle_Work_Cd in ('0309','0314','0316') then 1 end) as Rent_Count,
			count(case when Bottle_Work_Cd in ('0310','0315','0317') then 1 end) as Back_Count,
			count(case when Bottle_Work_Cd='0308' then 1 end) as Sale_Count,
			count(case when Bottle_Work_Cd in ('0311','0312','0313') then 1 end) as As_Count,
			count(case when Bottle_Work_Cd = '0318' then 1 end) as Charge_Count,
			count(case when Bottle_Work_Cd = '0306' then 1 end) as Out_Count,
			count(case when Bottle_Work_Cd = '0301' then 1 end) as In_Count
		FROM
			TB_Work_Bottle wb, TB_Customer tc ,TB_Product tp, TB_Product_Price pp , TB_User tu , TB_Work_Report wr
		WHERE
			DATE_FORMAT(wb.Create_Dt,'%Y/%m/%d') between  #{searchStatDtFrom} AND  #{searchStatDtEnd} 
		AND Bottle_Work_Cd in ('0309','0314','0316','0310','0315','0317','0308','0311','0312','0313','0318' ,'0301','0306'  )
		AND wb.Customer_ID = tc.Customer_ID
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerId)">
		AND wb.Customer_ID = #{paramCustomerId} 
		</if>
		AND wb.Product_ID = tp.Product_ID
		AND wb.Product_ID = pp.Product_ID
		AND wb.Product_Price_Seq = pp. Product_Price_Seq
		AND wb.Create_ID = tu.User_ID
		AND wb.Work_Report_Seq = wr.Work_Report_Seq
		GROUP By wb.Customer_Id,wb.Product_ID,wb.Product_Price_Seq,wb.Create_Id
		Order By wb.Work_Report_Seq desc
	</select>
	
	<select id="selectStatSalesCustomerBottleList" resultType="com.gms.web.admin.domain.statistics.StatisticsCustomerBottleVO" parameterType="com.gms.web.admin.domain.statistics.StatisticsCustomerBottleVO">		
		SELECT
			wb.Create_Id, User_Nm Sales_Nm,wb.Customer_Id,Customer_Nm,wb.Product_ID,wb.Product_Price_Seq,Product_Nm,Work_Etc,DATE_FORMAT(wb.Create_Dt,'%Y/%m/%d') SALE_Dt,
			case  when wb.Gas_ID &gt; 0 and instr(pp.Product_Capa,'Kg')  &lt;=0 then concat(pp.Product_Capa,'L') else pp.Product_Capa end Product_Capa,
			count(case when Bottle_Work_Cd in ('0309','0314','0316') then 1 end) as Rent_Count,
			count(case when Bottle_Work_Cd in ('0310','0315','0317') then 1 end) as Back_Count,
			count(case when Bottle_Work_Cd='0308' then 1 end) as Sale_Count,
			count(case when Bottle_Work_Cd in ('0311','0312','0313') then 1 end) as As_Count,
			count(case when Bottle_Work_Cd = '0318' then 1 end) as Charge_Count
		FROM
			TB_Work_Bottle wb, TB_Customer tc ,TB_Product tp, TB_Product_Price pp , TB_User tu , TB_Work_Report wr
		WHERE
			DATE_FORMAT(wb.Create_Dt,'%Y/%m/%d') between  #{searchStatDtFrom} AND  #{searchStatDtEnd} 
		AND Bottle_Work_Cd in ('0309','0314','0316','0310','0315','0317','0308','0311','0312','0313','0318'  )
		AND wb.Customer_ID = tc.Customer_ID
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerId)">
		AND wb.Customer_ID = #{paramCustomerId} 
		</if>
		AND wb.Product_ID = tp.Product_ID
		AND wb.Product_ID = pp.Product_ID
		AND wb.Product_Price_Seq = pp. Product_Price_Seq
		AND wb.Create_ID = tu.User_ID
		AND wb.Work_Report_Seq = wr.Work_Report_Seq
		GROUP By wb.Customer_Id,wb.Product_ID,wb.Product_Price_Seq,wb.Create_Id
		Order By wb.Work_Report_Seq desc
	</select>
	
	<select id="selectCountSalesCustomer" resultType="com.gms.web.admin.domain.statistics.StatisticsCustomerVO" parameterType="com.gms.web.admin.domain.statistics.StatisticsCustomerBottleVO">		
		SELECT  Customer_Id, count(distinct concat(wb.Product_ID,'-',wb.Product_Price_Seq)) ORDER_Count
		FROM TB_Work_Bottle wb
		WHERE DATE_FORMAT(wb.Create_Dt,'%Y/%m/%d') between  #{searchStatDtFrom} AND  #{searchStatDtEnd} 		
		AND Bottle_Work_Cd in ('0309','0314','0316','0310','0315','0317','0308','0311','0312','0313','0318'  )
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchCustomerId)">
		AND wb.Customer_ID = #{paramCustomerId} 
		</if>
		GROUP By wb.Customer_id
		Order By wb.Work_Report_Seq desc
	</select>
</mapper>