<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.admin.mapper.manage.ECountMapper">
<resultMap id="ECountMap" type="com.gms.web.admin.domain.manage.ECountVO" >
		<result property="customerId"		column="Customer_ID"		/>	
		<result property="customerNm"		column="Customer_Nm"		/>		
		<result property="salesNm"			column="Sales_Nm"			/>	
		<result property="productId"		column="Product_ID"			/>
		<result property="productNm"		column="Product_Nm"			/>	
		<result property="productCapa"		column="product_Capa"		/>
		<result property="orderCount"		column="Order_Count"		/>		
		<result property="productPrice"		column="Product_Price"		/>
		<result property="supplyPrice"		column="Supply_Price"		/>
		<result property="vat"				column="VAT"				/>
		<result property="eCountCd"			column="ECOUNT_CD"			/>
		<result property="eCountCdS"		column="ECOUNT_CDS"			/>
		<result property="bottleSaleYn"		column="Bottle_Sale_YN"		/>
		<result property="bottleWorkCd"		column="Bottle_Work_Cd"		/>
		<result property="gasCd"			column="Gas_CD"				/>
	</resultMap>	

<!--  
	 <select id="selectECount" resultType="com.gms.web.admin.domain.manage.ECountVO" parameterType="com.gms.web.admin.domain.manage.WorkReportVO" >		
		SELECT 
			TC.ECount_CD Customer_EID, TC.Customer_ID,Customer_NM, WB.Product_ID, PP.ECount_CD, PP.ECount_CDS,WB.Product_Id, PT.Product_Nm, 
			WB.Product_Price_Seq,PP.Product_Capa,ECount_Spec, ECount_User_CD Sales_Nm, WB.Bottle_Sale_YN,
			WB.Order_Count, WB.Product_Price-WB.Gas_Price Product_Price, WB.Gas_Price, WB.Order_Count*(WB.Product_Price-WB.Gas_Price) Supply_Price,
			WB.Order_Count*(WB.Product_Price-WB.Gas_Price) * 0.1 VAT,Bottle_Work_Cd,GAS_CD,Agency_Yn, Multi_YN, Charge_Volumn, Work_Etc Etc
		FROM 
			(
				SELECT count(Work_Seq) Order_Count,TB.Work_Report_Seq,Product_ID, Product_Price_Seq,TB.Create_ID,
				Bottle_Sale_YN, Product_Price, Gas_Price,Bottle_Work_Cd,GAS_CD, Multi_YN, Charge_Volumn, TB.Work_Etc
				FROM TB_Work_Bottle TB, TB_Work_Report TW
				WHERE Bottle_Work_Cd in ('0308','0309','0314', '0316')
				AND TB.Work_Report_Seq = TW.Work_Report_Seq
				AND TW.Work_Dt &gt;=  #{searchDt}
				AND TW.Work_Dt &lt;  #{searchEndDt}
				<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchUserId)">
				AND TB.Create_ID =  #{searchUserId}
				</if>	
				Group By Work_Report_Seq,Product_ID, Product_Price_Seq ,TB.Create_ID,Bottle_Sale_YN, Product_Price, Bottle_Work_Cd,GAS_CD
			) WB, TB_Work_Report WR ,TB_Product PT, TB_Product_Price PP, TB_Customer TC, TB_User TU
		WHERE 
			WB.Work_Report_Seq = WR.Work_Report_Seq
		AND 
			WR.Delete_YN = 'N'		
		AND 
			WB.Product_ID = PT.Product_ID
		AND 
			WB.Product_ID = PP.Product_ID 
		AND 
			WB.Product_Price_Seq = PP.Product_Price_Seq 
		AND 
			WR.Customer_ID = TC.Customer_ID
		AND 
			WB.Create_ID = TU.User_Id
		Order By WB.Work_Report_Seq desc
	</select>
	-->
	<select id="selectECount" resultType="com.gms.web.admin.domain.manage.ECountVO" parameterType="com.gms.web.admin.domain.manage.WorkReportVO" >		
		SELECT 
		    TC.ECount_CD AS Customer_EID,
		    TC.Customer_ID,
		    TC.Customer_NM,
		    WB.Product_ID,
		    PP.ECount_CD,
		    PP.ECount_CDS,
		    PT.Product_Nm,
		    WB.Product_Price_Seq,
		    PP.Product_Capa,
		    PT.ECount_Spec,
		    TU.ECount_User_CD AS Sales_Nm,
		    WB.Bottle_Sale_YN,
		    COUNT(WB.Work_Seq) AS Order_Count,
		    WB.Product_Price - WB.Gas_Price AS Product_Price,
		    WB.Gas_Price,
		    COUNT(WB.Work_Seq) * (WB.Product_Price - WB.Gas_Price) AS Supply_Price,
		    COUNT(WB.Work_Seq) * (WB.Product_Price - WB.Gas_Price) * 0.1 AS VAT,
		    WB.Bottle_Work_Cd,
		    WB.GAS_CD,
		    TC.Agency_Yn,
		    WB.Multi_YN,
		    WB.Charge_Volumn,
		    WB.Work_Etc AS Etc
		FROM TB_Work_Report WR
		JOIN TB_Work_Bottle WB
		    ON WR.Work_Report_Seq = WB.Work_Report_Seq
		JOIN TB_Product PT
		    ON WB.Product_ID = PT.Product_ID
		JOIN TB_Product_Price PP
		    ON WB.Product_ID = PP.Product_ID
		    AND WB.Product_Price_Seq = PP.Product_Price_Seq
		JOIN TB_Customer TC
		    ON WR.Customer_ID = TC.Customer_ID
		JOIN TB_User TU
		    ON WB.Create_ID = TU.User_ID
		WHERE WR.Delete_YN = 'N'
		AND WR.Work_Dt &gt;=  #{searchDt}
		AND WR.Work_Dt &lt;  #{searchEndDt}
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchUserId)">
		AND WB.Create_ID =  #{searchUserId}
		</if>	
		AND WB.Bottle_Work_Cd IN ('0308','0309','0314','0316')
		GROUP BY
		WR.Work_Report_Seq,
		WB.Product_ID,
		WB.Product_Price_Seq,
		WB.Create_ID,
		WB.Bottle_Sale_YN,
		WB.Product_Price,
		WB.Bottle_Work_Cd,
		WB.GAS_CD
		ORDER BY WR.Work_Report_Seq DESC;
	</select>
	<select id="selectECountMinus" resultType="com.gms.web.admin.domain.manage.ECountVO" parameterType="com.gms.web.admin.domain.manage.WorkReportVO" >
		SELECT count(Work_Seq) Order_Count,TB.Work_Report_Seq,Product_ID, Product_Price_Seq, Bottle_Work_Cd,TB.Customer_ID
		FROM TB_Work_Bottle TB, TB_Work_Report TW
		WHERE Bottle_Work_Cd in ('0310','0315')
		AND TB.Work_Report_Seq = TW.Work_Report_Seq
		AND TW.Work_Dt &gt;=  #{searchDt}
		AND TW.Work_Dt &lt;  #{searchEndDt}
		<if test="@com.gms.web.admin.common.utils.StringUtils@isNotEmpty(searchUserId)">
		AND TB.Create_ID =  #{searchUserId}
		</if>
		AND TB.Bottle_Type='F'
		Group By Work_Report_Seq,Product_ID, Product_Price_Seq ,Bottle_Work_Cd,TB.Customer_ID		
	</select>
</mapper>