<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{gms/layout/basic}">

<div class="wrapper">

<th:block layout:fragment="content"> 
<script type="text/javascript">
$(document).ready(function(){ 
	 $("#searchStatDt").val('[[${searchStatDt}]]' );
	 
	 $("#btn_com_search").click(function()  
   	{    	
	  var searchCustomerNm = $("#searchCustomerNm").val();

	   $.ajax({
	           url: '/gms/common/customerList.do',
	           type: 'POST',
	           data: 'searchCustomerNm='+ searchCustomerNm,
	           dataType: 'json',

	      })
	      .done(function(data){
	    	$('#searchCustomerId').find('option').remove();        
	    	  for(i=0; i< data.length;i++) {
	  			//console.log(data[i]);      
	  			$('#searchCustomerId').append('<option value='+data[i].customerId+'>'+data[i].customerNm+'</option>')
	  			
	  		}
	      })
	      .fail(function(){
	         console.log("fail");
	      });
	 });
	 
	 $("#reportExcel").on("click", function () {
	    	
		var form = document.createElement("form");
		form.setAttribute("charset","UTF-8");
		form.setAttribute("method","post");
		form.setAttribute("action","/gms/statistics/customer/reportExcelDown.do");
		
		var searchStatDt = document.getElementById("searchStatDt").value;  
		var hiddenField = document.createElement("input");
		hiddenField.setAttribute("type", "hidden");
		hiddenField.setAttribute("name", "searchStatDt" );
		hiddenField.setAttribute("value",searchStatDt);
		form.appendChild(hiddenField);

		var searchCustomerId = document.getElementById("searchCustomerId").value;  
		if(searchCustomerId != 0) {
			var hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "searchCustomerId" );
			hiddenField1.setAttribute("value",searchCustomerId);
			form.appendChild(hiddenField1);    
		}
		document.body.appendChild(form);
		
		var searchUserId = document.getElementById("searchUserId").value;  
		if(searchUserId != "") {
			var hiddenField2 = document.createElement("input");
			hiddenField2.setAttribute("type", "hidden");
			hiddenField2.setAttribute("name", "searchUserId" );
			hiddenField2.setAttribute("value",searchUserId);
			form.appendChild(hiddenField2);    
		}
		
		form.submit();
    });
	 
	 $("#bottleExcel").on("click", function () {
	    	
		var form = document.createElement("form");
		form.setAttribute("charset","UTF-8");
		form.setAttribute("method","post");
		form.setAttribute("action","/gms/statistics/customer/bottleExcelDown.do");
		
		var searchStatDt = document.getElementById("searchStatDt").value;  
		var hiddenField = document.createElement("input");
		hiddenField.setAttribute("type", "hidden");
		hiddenField.setAttribute("name", "searchStatDt" );
		hiddenField.setAttribute("value",searchStatDt);
		form.appendChild(hiddenField);

		var searchCustomerId = document.getElementById("searchCustomerId").value;  
		if(searchCustomerId != 0) {
			var hiddenField1 = document.createElement("input");
			hiddenField1.setAttribute("type", "hidden");
			hiddenField1.setAttribute("name", "searchCustomerId" );
			hiddenField1.setAttribute("value",searchCustomerId);
			form.appendChild(hiddenField1);    
		}
		
		var searchUserId = document.getElementById("searchUserId").value;  
		if(searchUserId != "") {
			var hiddenField2 = document.createElement("input");
			hiddenField2.setAttribute("type", "hidden");
			hiddenField2.setAttribute("name", "searchUserId" );
			hiddenField2.setAttribute("value",searchUserId);
			form.appendChild(hiddenField2);    
		}
		
		document.body.appendChild(form);
		
		form.submit();
    });
	 
});
	
	
$(function() {
	  
	  $('input[name="searchStatDt"]').daterangepicker({
	      autoUpdateInput: false,
	      startDate: new Date(),
	      locale: {
	          cancelLabel: 'Clear'
	      }
	  });
	
	  $('input[name="searchStatDt"]').on('apply.daterangepicker', function(ev, picker) {
	      $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
	  });
	
	  $('input[name="searchStatDt"]').on('cancel.daterangepicker', function(ev, picker) {
	      $(this).val('');
	  });	
});	

</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>거래처 용기 현황</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
    
      <div class="container-fluid">
        <div class="row">
    		
           	<div class="col-1">
               		<label >거래처</label>
            </div>               
            <div class="col-4">     
            <form id="mainForm" name="mainForm"  method="post">         
            	<select id="searchCustomerId" name="searchCustomerId" class="form-control">
	                      <option value="0">거래처 목록</option>
	                    	<option th:each="row : ${customerList}"
				                th:text="${row.customerNm}"
				                th:value="${row.customerId}"
				                th:if="${searchCustomerId ==row.customerId}" selected>					             
					        </option>	
					        <option th:each="row : ${customerList}"
				                th:text="${row.customerNm}"
				                th:value="${row.customerId}"
			                	th:unless="${searchCustomerId ==row.customerId}">				             
					        </option>			
				               
				     </option>		
			    </select>	                      
            </div>  
            <div class="col-2">    
            	<input type="text" class="form-control" id="searchCustomerNm" name="searchCustomerNm" >
			</div>	            		  
			<div class="col-1">
	        	<input type="button" class="btn btn-default btn-success" id="btn_com_search" value="검색" />
	        </div> 
          
         </div>
         <div class="row">	
	        <div class="col-12">
	        <table class="table table-hover">
	        <tr></tr>
	         </table>
	        </div>
        </div>
         <div class="row">	
	        <div class="col-1">
               		<label >담당자</label>
            </div>               
            <div class="col-2">     
                   
               <select id="searchUserId" name="searchUserId" class="form-control">  
               <option value="">영업담당자</option>
            	<option th:each="row : ${userList}"
					                th:text="${row.userNm}"
					                th:value="${row.userId}"
					                th:if="${searchUserId ==row.userId}" selected>
				<option th:each="row : ${userList}"
					                th:text="${row.userNm}"
					                th:value="${row.userId}"
					                th:unless="${searchUserId ==row.userId}" >	             
				</option>		
            	</select>   	
            </div>               
            <div class="col-9">
            </div>
        </div>
        <div class="row">	
	        <div class="col-12">
	        <table class="table table-hover">
	        <tr></tr>
	         </table>
	        </div>
        </div>
        <div class="row">
           	<div class="col-1">
               		<label >거래일</label>
            </div>               
            <div class="col-4">     
                   
               <input type="text" class="form-control" id="searchStatDt" name="searchStatDt" value=""/>			
            </div>               
            <div class="col-5">
                <button class="btn btn-navbar" type="submit"><i class="fas fa-search"></i></button>           
              </div>  
               <div class="col-1" align=right>
					<button type="button" id="reportExcel" class="btn btn-primary btn-sm float-right"><i class="far fa-file-excel"></i> 업무일지</button>
               </div>
              <div class="col-1" align=right>
               		<button type="button" id="bottleExcel" class="btn btn-primary btn-sm float-right"><i class="far fa-file-excel"></i> 엑셀받기</button>
            </div>
              </form>  
         </div>       
    	
        <div class="row">	
	        <div class="col-12">
	        <table>
	       </br>
	         </table>
	        </div>
        </div>
        <div class="row">
          <div class="col-12">
          <div class="card card-primary">
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
					<!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr style="font-size:12px;">
                      <th>날짜</th>
                      <th>차량번호</th>
                      <th>담당자</th>
                      <th>C.D</th>
                      <th>거래처</th>
                      <th>품목</th>
                      <th align="right">납품(대여)</th>
                      <th align="right">회수</th>
                      <th align="right">판매</th>
                      <th align="right">A/S</th>
                      <th align="right">충전</th>
                      <th style="font-size:11px;" align="right">타사<br>(공병반납)</th>
                      <th style="font-size:11px;" align="right">타사(실병입고)</th>
                      <th>비고</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:if="${not #lists.isEmpty( statCustomerList )}" th:each="row : ${statCustomerList}" style="font-size:12px;">
                      <td th:text="${row.saleDt}"></td>
                      <td th:text="${row.carNumber}"></td>
                      <td th:text="${row.salesNm}"></td>
                      <td th:text="${row.strCD}"></td>
                      <td><a th:href="@{/gms/statistics/customer/update.do( workReportSeq=${row.workReportSeq}, productId=${row.productId}, productPriceSeq=${row.productPriceSeq},searchStatDt=${searchStatDt} ,searchUserId=${searchUserId})}" th:text="${row.CustomerNm}"></a></td>
                      <td th:if="${row.productCapa ==''}"  th:text="${row.productNm}">
                      <td th:unless="${row.productCapa ==''}" th:text="${row.productNm} + ' (' + ${row.productCapa}+')'">
                      </td>
                      
                      <td align="right" th:text="${row.rentCount}">
                      </td>
                      <td align="right" th:text="${row.backCount}">
                      </td>
                      <td align="right" th:text="${row.saleCount }">
                      </td>
                      <td align="right" th:text="${row.asCount }">
                      </td>
                      <td align="right" th:text="${row.chargeCount }">
                      </td>
                      <td align="right" th:text="${row.outCount }">
                      </td>
                      <td align="right" th:text="${row.inCount }">
                      </td>
                      <td th:text="${row.workEtc}"></td>     
                    </tr>
                    <tr th:unless="${not #lists.isEmpty( statCustomerList )}">
						<td colspan="14">조회된 결과가 없습니다.</td>
					</tr>
					
                  </tbody>
                </table>
              </div>
              <!-- /.card-body --> 
                  </div>
                  
                  
                </div>
              </div>
              <!-- /.card -->
            </div>
          
            <div class="card">
             
              
              
            </div>
            <!-- /.card -->
          </div>
        
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>
  

  