<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{gms/layout/basic}">


<div class="wrapper">
<th:block layout:fragment="content"> 
<script type="text/javascript">

var isOkay = false;
$(document).ready(function(){
	$("#bottleId").on("focusout", function(){
		if($(this).val() != ""){
			
		}
	});
	
	
	$("table.doc-list").on("click", ".ibtnDelMod", function (event) {
		
		var row =  $(this).closest("tr");
		var bottleHistSeq = row.data("value");
		var bottleBarCd = $('#bottleBarCd').val();	
		console.log(bottleHistSeq);
		if(confirm("삭제하시겠습니까?")){	
			
			$.ajax({
				url: '/gms/bottle/hdelete.do',
				type: 'POST',
				data: 'bottleBarCd='+ bottleBarCd +'&bottleHistSeq='+bottleHistSeq,
			 })
			.done(function(data){	           
					console.log(data);
				if(data == 1){
					alert("용기이력이 삭제되었습니다");
					row.remove();   
				}   
			})
			.fail(function(){
				console.log("fail");
			 });
		}         
		//alert(value);   
		
    });
	
});
// 리스트 페이지 이동
var goList = function(){
	$("#listForm").submit();
};

// form 필드값 유효성 검사
var validation = function(){
	/*
	var customerNm = $("#customerNm").val();
	if(customerNm=="" || customerNm == null){
		alert("거래처명을 입력해 주세요.");
		$("#customerNm").focus();
		isOkay = false;
		return;
	}
	*/
	var result = (
				isValid(bottleId, "실린더번호", null, null)
			&& isValid(bottleBarCd, "용기 바코드", null, null)
			&& isValid(bottleChargeDt, "충전 기한", null, null)
	);
	
	if ( result === false ) {
		isOkay = false;
		return;
	}else{
		isOkay = true;
		return;
	}
	
	isOkay = true;
}

//서버에 버전 데이터 존재 여부 확인 요청
var checkName = function(){
	var bottleId = $("#bottleId").val();

	var ajaxInfo ={
		type:"POST",
		url:"/gms/bottle/CheckBottleId.do",
		data:{
			bottleId : bottleId
		},
		dataType: "json",
	};
	ajax = callAjax(ajaxInfo);
	ajax.done(function(data){
		if(data.result == "fail"){
			alert(data.message);
			$("#bottleId").val("");
			$("#bottleId").focus();
			isOkay = false;
			return;
		}
	});
};

//Ajax공통 호출
function callAjax(ajaxInfo){
	var dfd = $.Deferred();
	$.ajax(ajaxInfo).done(function(data){
		dfd.resolve(data);
	});
	
	return dfd.promise();
}


//숫자 여부 검사
function isNumber(input){
	var chars = "0123456789";
		return containsCharsOnly(input,chars);
};

function containsCharsOnly(input,chars) {
	input = String(input);
	for (var inx = 0; inx < input.length; inx++) {
		if (chars.indexOf(input.charAt(inx)) == -1) {
			return false;
		}else{
		}
	};
	return true;
};

// 입력된 내용을 작성한다.
var goWrite = function(){
	validation();
	
	if(!isOkay){
		return;
	}
	
	var form = $("#writeForm");	
	
	form.submit();
}

var goList = function(){
	
	/*
	var form = $("#writeForm");	
	
	form.action='/gms/bottle/list.do'
	form.submit();
	*/
	window.history.back();
}

	$(function() { 
	  $('input[name="bottleCreateDt"]').daterangepicker({
	    singleDatePicker: true,
	    showDropdowns: true,
	    autoUpdateInput: false,
	    startDate: new Date(),
	      locale: {
	          cancelLabel: 'Clear'
	      }
	  });
	
	  $('input[name="bottleCreateDt"]').on('apply.daterangepicker', function(ev, picker) {
	      $(this).val(picker.startDate.format('YYYY/MM/DD'));
	  });
	
	  $('input[name="bottleCreateDt"]').on('cancel.daterangepicker', function(ev, picker) {
	      $(this).val('');
	  });
	  
	  $('input[name="bottleChargeDt"]').daterangepicker({
		    singleDatePicker: true,
		    showDropdowns: true,
		    autoUpdateInput: false,
		    startDate: new Date(),
		      locale: {
		          cancelLabel: 'Clear'
		      }
		  });
		
		  $('input[name="bottleChargeDt"]').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('YYYY/MM/DD'));
		  });
		
		  $('input[name="bottleChargeDt"]').on('cancel.daterangepicker', function(ev, picker) {
		      $(this).val('');
		  });
	});


	$(document).ready(function(){ 
		
		$('#productId').change( function(){

			var productId = $('#productId').val();		
			initCapa(productId);
		});
		
		function initCapa(productId){
		      
			console.log(productId);      
			
			$.ajax({
				url: '/gms/product/priceList.do',
				type: 'POST',
				data: 'productId='+ productId ,
				dataType: 'json',

			 })
			.done(function(data){	           
			  
				//console.log(data);     				
		    	var i=0;
		    	$('#productPriceSeq').find('option').remove(); 
				for(i=0; i< data.length;i++) {
				//	console.log(data[i]);      
					$('#productPriceSeq').append('<option value='+data[i].productPriceSeq+'>'+data[i].productCapa+'</option>')				
				}			
			})
			.fail(function(){
				console.log("fail");
			 });
		} 

		$("#btn_com_search").click(function()  
	  	{    	
		
		  var searchCustomerNm = $("#searchCustomerNm").val();
		
		   $.ajax({
		           url: '/gms/common/customerList.do',
		           type: 'POST',
		           data: 'searchCustomerNm='+ searchCustomerNm,
		           dataType: 'json',
		
		      })
		      .done(function(data){
		    	$('#ownerCustomerId').find('option').remove();        
		    	  for(i=0; i< data.length;i++) {
		  			//console.log(data[i]);      
		  			$('#ownerCustomerId').append('<option value='+data[i].customerId+'>'+data[i].customerNm+'_'+ data[i].businessRegId+'</option>')
		  			
		  		}
		      })
		      .fail(function(){
		         console.log("fail");
		      });
		 });
	});
	
	
	var fn_deleteBottle = function(bottleBarCd, bottleHistSeq){
		
		if(confirm("삭제하시겠습니까?")){	
			
			$.ajax({
				url: '/gms/bottle/hdelete.do',
				type: 'POST',
				data: 'bottleBarCd='+ bottleBarCd +'&bottleHistSeq='+bottleHistSeq,
			 })
			.done(function(data){	           
					console.log(data);
				if(data == 1){
					alert("용기이력이 삭제되었습니다");
				}
				$(this).closest("tr").remove();       
			})
			.fail(function(){
				console.log("fail");
			 });
		}                  		
	}	
</script>

   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>용기 수정</h1>
            <!-- <img th:src="|https://chart.googleapis.com/chart?cht=qr&chs=70x70&chl=${bottle.bottleBarCd}|" > -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">   
  		<div class="row">          
            <div class="col-md-8">
              
             <!-- general form elements -->                        
              <!-- /.card-header -->
              <div class="card">
              <form id="writeForm" class="form-horizontal" th:action="@{/gms/bottle/modify.do}" th:object="${bottle}" method="post" >
                <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
        		<input type="hidden" id="searchProductId" name="searchProductId" th:value="${searchProductId}">
        		<input type="hidden" id="searchBottleId" name="searchBottleId" th:value="${searchBottleId}">
        		<input type="hidden" id="searchChargeDt" name="searchChargeDt" th:value="${searchChargeDt}">
        		<input type="hidden" id="searchDt" name="searchDt" th:value="${searchDt}">
        		<input type="hidden" id="gasId" name="gasId" th:value="${bottle.gasId}">
        		<input type="hidden" id="bottleCapa" name="bottleCapa" th:value="${bottle.bottleCapa}">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="card-footer">실린더번호</th>
                       <th colspan=3> <input type="text" class="form-control" id="bottleId" name="bottleId" th:value="${bottle.bottleId}"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">용기 바코드</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleBarCd" name="bottleBarCd" th:value="${bottle.bottleBarCd}" readonly></th>
                    </tr>
                    <tr>
                      <th class="card-footer">가스 조성</th>
                      <th colspan=3><input type="text" class="form-control" id="gasCd" name="gasCd" th:value="${bottle.gasCd}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">가스</th>
                      <th colspan=3>
                      <select id="productId" name="productId" class="form-control">
                          <option value="0">가스선택</option>				    
					        <option th:each="row : ${productList}"
					                th:text="${row.productNm}"
					                th:value="${row.productId}"
					                th:if="${bottle.productId ==row.productId}" selected>					             
					        </option>	
					        <option th:each="row : ${productList}"
					                th:text="${row.productNm}"
					                th:value="${row.productId}"
					                th:unless="${bottle.productId ==row.productId}">					             
					        </option>					
                        </select>
					  </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">가스 용량</th>
                      <th colspan=3>
                      <select id="productPriceSeq" name="productPriceSeq" class="form-control" >
	                        <option th:each="row : ${productPriceList}"
					                th:text="${row.productCapa}"
					                th:value="${row.productPriceSeq}"
					                th:if="${bottle.productPriceSeq ==row.productPriceSeq}" selected>	
					         <option th:each="row : ${productPriceList}"
					                th:text="${row.productCapa}"
					                th:value="${row.productPriceSeq}"
					                th:unless="${bottle.productPriceSeq ==row.productPriceSeq}">					             
					        </option>			                      	
					   </select>	                      
                      </th>
                    </tr>
                    <tr>
                      <th class="card-footer">충전용량</th>
                      <th colspan=3><input type="text" class="form-control" id="chargeCapa" name="chargeCapa" th:value="${bottle.chargeCapa}"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">제조일</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleCreateDt" name="bottleCreateDt" th:value="${#calendars.format( bottle.bottleCreateDt, 'yyyy/MM/dd' )}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">충전 기한</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleChargeDt" name="bottleChargeDt" th:value="${#calendars.format( bottle.bottleChargeDt, 'yyyy/MM/dd' )}"> </th>   
                    </tr>
                    <tr>
                      <th class="card-footer">용기 체적</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleVolumn" name="bottleVolumn" th:value="${bottle.bottleVolumn}"></th>
                    </tr>
                     <tr>                                   
                      <th class="card-footer">충전 압력</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleChargePrss" name="bottleChargePrss" th:value="${bottle.bottleChargePrss}"></th>
                    </tr>
                    <tr>
                      <th class="card-footer">용기 소유</th>
                      <th colspan=3>
						<select id="ownCustomerId" name="ownCustomerId" class="form-control">
                          	<option value="0">소유대리점</option>				    
					        <option th:each="row : ${agencyList}"
					                th:text="${row.customerNm}"
					                th:value="${row.customerId}"
					                th:if="${#strings.equals(bottle.ownCustomerId,row.customerId)}" selected>	
					        </option>	
					        <option th:each="row : ${agencyList}"
					                th:text="${row.customerNm}"
					                th:value="${row.customerId}"
					                th:unless="${#strings.equals(bottle.ownCustomerId,row.customerId)}">						               
					        </option>					
                        </select>      
                      	<!-- <input type="radio" name="bottleOwnYn" id="bottleOwnYn" value="N" checked=""> 자사                                   
                      	<input type="radio" name="bottleOwnYn" id="bottleOwnYn" value="Y"> 타사      -->
					  </th>   
                    </tr>  
                    <tr>
                      <th class="card-footer">용기 소유자</th>
                      <th>
						<select id="ownerCustomerId" name="ownerCustomerId" class="form-control" style="width:300px">                          		    
					        <option th:each="row : ${ownerCustomer}"
					                th:text="${row.customerNm}"
					                th:value="${row.customerId}"
					                th:if="${#strings.equals(bottle.ownerCustomerId,row.customerId)}" selected>	
					        </option>
					       		
                        </select>      
                      	<!-- <input type="radio" name="bottleOwnYn" id="bottleOwnYn" value="N" checked=""> 자사                                   
                      	<input type="radio" name="bottleOwnYn" id="bottleOwnYn" value="Y"> 타사      -->
					  </th>  
					  <td ><input type="text" class="form-control" id="searchCustomerNm" name="searchCustomerNm" >
					  </td>
            		  <td >
                		 <input type="button" class="btn btn-default btn-success" id="btn_com_search" value="검색" />
                	</td> 
                    </tr>  
                     <tr>                                   
                      <th class="card-footer">비고</th>
                      <th colspan=3><input type="text" class="form-control" id="bottleEtc" name="bottleEtc" th:value="${bottle.bottleEtc}"></th>
                    </tr>                 
                    <tr>
                      <th class="card-footer">더미여부</th>
                      <th colspan=3>      
                      	<select id="dummyYn" name="dummyYn" class="form-control">
                          <option value='N' th:if="${#strings.equals(bottle.dummyYn,'N')}" selected>NO
                          <option value='N' th:unless="${#strings.equals(bottle.dummyYn,'N')}">NO
                          </option>				    
					      <option value='Y' th:if="${bottle.dummyYn =='Y'}" selected>기본더미
					      <option value='Y' th:unless="${bottle.dummyYn =='Y'}" >기본더미
					      </option>	
					       <option value='X' th:if="${bottle.dummyYn =='X'}" selected>추가더미
					      <option value='X' th:unless="${bottle.dummyYn =='X'}" >추가더미
					      </option>	
                        </select>       
					  </th>   
                    </tr>   
                  </thead>
                              
                </table>               
                
              </div>
              <div class="card-footer">      		
                 <a href="#" th:onclick="history.back()"  class="btn btn-secondary float-left">취소</a>
		          <input type="button" value="저장" onclick="javascript:goWrite()" class="btn btn-success float-right">                  		
            	
           		 </div>
            </div>
           <div class="col-md-8">
            	<div class="card">   
            	<table class="table doc-list">	         	
	         		<thead>
                    <tr>
                      <th>번호</th>
                      <th>작업</th>
                      <th>용기타입</th>
                      <th>거래처</th>
                      <th>작업자</th>
                      <th>등록일</th>
                      <th>삭제</th>
                    </tr>
                  	</thead>
                  	<tbody>
                  	<tr th:if="${not #lists.isEmpty( historyList )}" th:each="row : ${historyList}" th:data-value="${row.bottleHistSeq}">
                      <td th:text="${historyList.indexOf(row)+1}"></td>
                      <td th:text="${row.bottleWorkCdNm}"></td>
                      <td th:if="${row.bottleType=='E'}" th:text="공병"></td>
                       <td th:unless="${row.bottleType=='E'}" th:text="실병"></td>
                      <td th:text="${row.customerNm}"></td>
                      <td th:text="${row.bottleWorkId}"></td>
                      <td th:text="${#calendars.format( row.bottleWorkDt, 'yyyy-MM-dd' )}"></td>
                      <td>
                      <a class="btn btn-danger btn-xs ibtnDelMod" href="#"  value="삭제">
      				<i class="fas fa-trash"></i>삭제</a>
      				</td>
                    </tr>
                  	</tbody>
               	</table>   
               </div>
            </div>
            </form>   
            
      <!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  
  </th:block>
  

  